<div id="<%= dom_id employee %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= employee.employee_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= employee.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= employee.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= employee.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Department:</strong>
    <%= employee.department %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= employee.position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hire date:</strong>
    <%= employee.hire_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Salary:</strong>
    <%= employee.salary %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= employee.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Supervisor:</strong>
    <%= employee.supervisor_id %>
  </div>
</div>
