<%= form_with(model: employee, class: "contents") do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul class="list-disc ml-6">
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:employee_id].none?, "border-red-400 focus:outline-red-600": employee.errors[:employee_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:name].none?, "border-red-400 focus:outline-red-600": employee.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:email].none?, "border-red-400 focus:outline-red-600": employee.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:phone].none?, "border-red-400 focus:outline-red-600": employee.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :department %>
    <%= form.text_field :department, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:department].none?, "border-red-400 focus:outline-red-600": employee.errors[:department].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :position %>
    <%= form.text_field :position, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:position].none?, "border-red-400 focus:outline-red-600": employee.errors[:position].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :hire_date %>
    <%= form.date_field :hire_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:hire_date].none?, "border-red-400 focus:outline-red-600": employee.errors[:hire_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :salary %>
    <%= form.text_field :salary, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:salary].none?, "border-red-400 focus:outline-red-600": employee.errors[:salary].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:status].none?, "border-red-400 focus:outline-red-600": employee.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :supervisor_id %>
    <%= form.text_field :supervisor_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee.errors[:supervisor_id].none?, "border-red-400 focus:outline-red-600": employee.errors[:supervisor_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
