<div id="<%= dom_id sales_order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Order:</strong>
    <%= sales_order.order_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= sales_order.customer_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= sales_order.employee_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Order date:</strong>
    <%= sales_order.order_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivery date:</strong>
    <%= sales_order.delivery_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quotation amount:</strong>
    <%= sales_order.quotation_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total amount:</strong>
    <%= sales_order.total_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Deposit amount:</strong>
    <%= sales_order.deposit_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Remaining amount:</strong>
    <%= sales_order.remaining_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Order status:</strong>
    <%= sales_order.order_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= sales_order.notes %>
  </div>
</div>
